################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/String/v16/Server/sqlite3/db.lock
.vs/String/v16/Server/sqlite3/storage.ide
.vs/String/v16/Server/sqlite3/storage.ide
.vs/String/v16/Server/sqlite3/storage.ide-wal
.vs/String/v16/.suo
.vs/String/v16/Server/sqlite3/storage.ide
